<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <nav class="navigation">
      <a class="navigation__link" href="/index/">Главная</a>
      <a class="navigation__link" href="/clothes/">Одежда</a>
      <a class="navigation__link" href="/shoes/">Обувь</a>
      <a class="navigation__link" href="/phones/">Смартфоны</a>
    </nav>

    {% block content %} Пустая страница {% endblock %}

    <div class="footer">
      <li class="link__menu"><a href="#">About Us</a></li>
      <li class="link__menu"><a href="#">Services</a></li>
      <li class="link__menu"><a href="#">Features</a></li>
      <li class="link__menu"><a href="#">Team</a></li>
      <li class="link__menu"><a href="#">Blog</a></li>
      <li class="link__menu"><a href="#">Contact</a></li>
    </div>
  </body>
</html>
