{% extends 'base.html' %} {% block content %}

<h1 class="title">Добро пожаловать в интернет магазин</h1>
<p class="text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam laudantium sed
  voluptate necessitatibus? Fugit ipsam dolorem doloribus ratione laborum ut
  aliquam delectus quos. Provident corrupti placeat quibusdam, temporibus fugit
  corporis quis officia beatae maiores cum sapiente veritatis minus, voluptatem
  excepturi, quisquam dolore. Esse numquam hic natus rerum nisi ipsum earum
  suscipit neque distinctio voluptatem adipisci optio sit, quibusdam saepe
  veritatis doloremque enim incidunt in eligendi corrupti quo illum qui! Magnam
  rerum ea, sint veniam, quo voluptatum iusto ab, earum eaque velit accusantium
  aliquid! Harum maiores rerum mollitia sequi? Necessitatibus iusto nihil, quam
  asperiores esse recusandae. Eaque alias facere fugiat voluptates.
</p>

{% endblock %}
