<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
  </head>
  <header>

  </header>
  <body>


  <h1 class="title">Список задач</h1>
  <div class="block">
    {{ table | safe }}
  </div>

<!--  safe указывается, для того чтобы шаблонизатор Jinja доверял содержимому переменной
 ( там ожидается html код) и встроил ее в страницу. иначе вставит как текст -->

  </body>
<footer>
  <div class="footer">
      <li class="link__menu"><a href="#">About Us</a></li>
      <li class="link__menu"><a href="#">Services</a></li>
      <li class="link__menu"><a href="#">Features</a></li>
      <li class="link__menu"><a href="#">Team</a></li>
      <li class="link__menu"><a href="#">Blog</a></li>
      <li class="link__menu"><a href="#">Contact</a></li>
    </div>
</footer>
</html>